.container {
    width: 90%;
    margin: 0 auto;
}

.admin__title {
    width: 100%;
    text-align: center;
    margin: 20px auto;
    font-size: 24px;
    padding: 4px;
}

.admin__content {
    margin: 10px auto;
    height: 30vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-manager__button,
.import-csv__button {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    color: #007BFF;
    font-size: 24px;
    margin: 16px;
}

.create-manager__button:hover,
.import-csv__button:hover {
    color: blue;
}

.back__button {
    width: 100px;
    background: #007BFF;
    margin: 0 auto 16px;
    border-radius: 3px;
}

.back__button__btn {
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
}

.back__button__btn:hover {
    background: blue;
}

.logout__button {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.logout__button:hover {
    background: lightgrey;
    border-radius: 3px;
}