.alert-success {
    text-align: center;
    background: pink;
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.admin__title {
    width: 100%;
    text-align: center;
    margin: 20px auto;
    font-size: 24px;
    padding: 4px;
}

.admin__form {
    width: 80%;
    margin: 10px auto;
    background: lightgrey;
    border-radius: 3px;
    overflow: hidden;
}

.admin__form__title {
    background-color: #007BFF;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    padding: 4px;
}

.custom-file-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.custom-file-label {
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.form__input {
    display: block;
    margin: 0 auto;
    width: 50%;
    outline: none;
}

input[type="file"] {
    display: none;
}

.file-name {
    font-size: 16px;
    color: #555;
}

.error-message {
    color: red;
    margin: 0 auto;
}

.submit__button {
    font-size: 16px;
    width: 100px;
    display: block;
    margin: 8px auto 24px;
    padding: 0;
}

.submit__button:hover {
    background: lightgrey;
}

.back__button {
    font-size: 16px;
    width: 100px;
    background: #007BFF;
    margin: 0 auto 16px;
    border-radius: 3px;
}

.back__button__btn {
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
}

.back__button__btn:hover {
    background: blue;
}




@media (max-width:768px) {
    .admin__form {
        width: 100%;
    }

    .submit__button {
        font-size: 16px;
    }
}

@media (max-width:576px) {
    .submit__button {
        width:auto;
    }
}