# MySQLデータ
docker/mysql/data/

# Laravelのキャッシュとログ
/storage/*.key
/storage/*.log
/storage/*.cache
/storage/*   # これを追加

# Node.js の依存関係
/node_modules/

# Composer の依存関係
/vendor/

# 環境設定ファイル
.env
.env.local
.env.*.local
.env.production

# OS やエディタの設定ファイル
.DS_Store
.idea/
.vscode/

# その他の無視するパターン
*.log
*.cache
*.tmp