.container {
    width: 90%;
    margin: 0 auto;
    padding: 2%;
}

.inner{
    width: 60%;
    margin: 2% auto;
    background: lightgrey;
    border-radius: 3px;
    overflow: hidden;
}

.success__title{
    background-color: #007BFF;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    padding: 4px;
}

.success__text{
    text-align: center;
    margin: 4% auto 4%;
}

.success__items{
    margin: 24px auto;
}

.back__button {
    font-size: 16px;
    line-height: 1.5;
    width: 100px;
    background: #007BFF;
    margin: 0 auto 16px;
    border-radius: 3px;
    border: none;
}

.back__button-btn {
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
}

.back__button-btn:hover {
    background: blue;
}



/* フォーム崩れ防止 */
@media (max-width: 950px) {
    .inner {
        width: 100%;
    }
}

/* タブレット用 */
@media (max-width:768px) {
    .inner {
        width: 100%;
    }
}