.container{
    width: 90%;
    margin: 0 auto;
    padding: 2%;
}

.checkout__form {
    width: 60%;
    margin: 0 auto;
    background: lightgrey;
    border-radius: 3px;
    overflow: hidden;
    padding-bottom: 6%;
}

.checkout__title {
    background-color: #007BFF;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    padding: 4px;
}

.checkout__amount{
    text-align: center;
    margin: 4% auto 4%;
}

.checkout-input{
    display: block;
    margin: 12px auto 12px;
    outline: none;
    font-size: 16px;
    line-height: 1.5;
}

.submit__button {
    font-size: 16px;
    line-height: 1.5;
    width: 100px;
    display: block;
    padding: 0;
    margin: 0 auto;
    border-radius: 3px;
    border: none;
    border: 1px solid grey;
}

.submit__button:hover {
    background: lightgrey;
}



@media (max-width:768px){
    .checkout__form {
            width: 100%;
        }
}