.session__alert {
    width: 100%;
    background: blue;
    color: white
}

.session__alert--success {
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restaurant--current {
    display: flex;
    flex-direction: column;
    width: 47.5%;
    margin: 20px auto;
    background: lightgrey;
    height:70vh;
    border-radius: 3px;
    overflow: hidden;
}

.restaurant__name {
    display: block;
    font-size: 16px;
    text-align: center;
}

.restaurant__image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.restaurant__image__img {
    width: 100%;
    height: auto;
}

.restaurant__detail {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 8px auto 8px;
}

.restaurant__detail__item {
    display: flex;
    margin: 0 auto;
}

.restaurant__detail__title{
    display: flex;
    align-items: center;
    margin:0;
    font-size: 12px;
}

.restaurant__area {
    margin: 4px 0 4px 8px;
    font-size: 12px;
}

.restaurant__genre {
    margin: 4px 0 4px 8px;
    font-size: 12px;
}

.restaurant__text__title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}

.restaurant__description {
    font-size: 12px;
    text-align: center;
}

.restaurant--new{
    display: flex;
    flex-direction: column;
    width: 47.5%;
    margin: 20px auto;
    background: lightgrey;
    height: 70vh;
    border-radius: 3px;
    overflow: hidden;
}

.update__title{
    width: 100%;
    text-align: center;
    margin: 10px auto;
    font-size: 24px;
    padding: 4px;
}

.new__item{
    margin-top:4px;
    margin-bottom:8px;
}

.new__title{
    display: block;
    text-align: center;
    font-size: 12px;
}
.new__name{
    display: block;
    margin: 0 auto;
    width: 80%;
    outline: none;
}

.new__image{
    display: block;
    margin: 0 auto;
}

.new__desc{
    display: block;
    margin: 0 auto;
    width: 80%;
    outline: none;
}

.new__area{
    display: block;
    margin: 0 auto;
    width: 50%;
    outline: none;
}

.new__genre{
    display: block;
    margin: 0 auto;
    width: 50%;
    outline: none;
}

.update__button{
    display: block;
    margin: 16px auto;
    width: 60px;
    font-size: 12px;
}

.back__button {
    width: 100px;
    background: #007BFF;
    margin: 16px auto;
    border-radius: 3px;
}

.back__button__btn {
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
}

.back__button__btn:hover {
    background: blue;
}



@media (max-width:768px){
    .container {
            width: 90vw;
            margin: 0 auto;
            display: flex;
            flex-direction:column;
        }
        .restaurant--current{
            width: 100%;
            margin-bottom: 24px;
            height: auto;
        }
        .restaurant--new{
            width: 100%;
            margin-bottom: 24px;
        }
        .back__button {
            margin-bottom: 36px;
        }
}