.container {
    width: 90%;
    margin: 0 auto;
}

.management__title {
    width: 100%;
    text-align: center;
    margin: 20px auto;
    font-size: 24px;
    padding: 4px;
}

.management__content{
    margin: 10px auto;
    height:30vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit__button,
.reservation__button,
.mail__button {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    color: #007BFF;
    font-size: 24px;
    margin: 16px;
}

.edit__button:hover,
.reservation__button:hover,
.mail__button:hover{
    color: blue;
}

.back__button {
    width: 100px;
    background: #007BFF;
    margin: 0 auto 16px;
    border-radius: 3px;
}

.back__button__btn {
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
}

.back__button__btn:hover {
    background: blue;
}

.logout__button {
    font-size: 16px;
    line-height: 1.5;
    width: 100px;
    display: block;
    padding: 0;
    margin: 0 auto;
    border-radius: 3px;
    border: 1px solid grey;
}

.logout__button:hover{
    background: lightgrey;
}