.container{
    width: 90%;
    margin: 0 auto;
}

.reservations__title{
    width: 100%;
    text-align: center;
    margin: 20px auto;
    font-size: 24px;
    padding: 4px;
}

.reservations__table{
    margin: 10px auto;
    width: 80%;
    background: lightgrey;
    border-radius: 3px;
    overflow: hidden;
    font-size:16px;
}

.reservations__head {
    background: #007BFF;
    color: #ffffff;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    border-top: 1px solid grey;
}

.reservations__row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;

}

.reservations__row:last-child {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.reservations__name{
    width: 20%;
    border-left: 1px solid grey;
    text-align: center;
}

.reservations__date{
    width: 20%;
    border-left: 1px solid grey;
    text-align: center;
}

.reservations__date-white{
    width: 20%;
    border-left: 1px solid grey;
    text-align: center;
    background:#ffffff;
}

.reservations__time{
    width: 20%;
    border-left: 1px solid grey;
    text-align: center;
}

.reservations__people{
    width: 10%;
    border-left: 1px solid grey;
    text-align: center;
}

.reservations__people-white {
    width: 10%;
    border-left: 1px solid grey;
    text-align: center;
    background: #ffffff;
}

.reservations__user__name{
    width: 30%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    text-align:center;
}

.back__button {
    width: 100px;
    background:#007BFF;
    margin: 24px auto;
    border-radius: 3px;
    border: 1px solid grey;
}

.back__button__btn{
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
}

.back__button__btn:hover {
    background: blue;
}


@media (max-width: 768px) {
    .reservations__table{
        width: 100%;
    }
    .reservations__table {
    font-size: 12px;
    }
}