.container{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.create{
    background-color: lightgrey;
    width: 47.5%;
    margin: 0;
    height: 60vh;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.detail{
    display: flex;
    flex-direction: column;
    width: 47.5%;
    margin-bottom: 24px;
    border-radius: 3px;
}

.management-title{
    background-color: #007BFF;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    padding: 4px;
}

.management__form {
    width: 100%;
    margin: 0 auto;
}

.form__group{
    padding: 8px;

}

.form-input {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 3px;
    border: none;
    outline: none;
}


.form-title {
    margin: 0;
    text-align: center;
}

.form__error {
    text-align: center;
}

.error-message {
    color: red;
    margin: 0 auto;
}

.submit-btn {
    display: block;
    margin: 8px auto;
}

.todo__alert {
    background: pink;
    width: 100%;
}

.todo__alert--success {
    text-align: center;
}


.detail__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px solid grey;
}

.restaurant-name{
    margin: 4px 16px ;
    width: 80%;
}

.restaurant-detail{
    width: 20%;
    text-align: center;
    cursor:pointer;
    margin: auto 0;
}


.restaurant-detail-btn{
    width: 70%;
    display: block;
    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
    background-color: #007BFF;
}