.container {
    width: 90%;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    width: 40%;
    height: 240px;
    background: #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    padding: 2%;
}

.thanks__text {
    font-size: 16px;
    margin-bottom: 24px;
}

.login__button {
    font-size: 16px;
    line-height: 1.5;
    width: 100px;
    background: #007BFF;
    margin: 0 auto 16px;
    border-radius: 3px;
    border: none;
}

.login__button-btn {
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
}

.login__button-btn:hover {
    background: blue;
}



/* フォーム崩れ防止 */
@media (max-width: 950px) {
    .card {
        width: 50%;
    }
}

/* タブレット用 */
@media (max-width: 768px) {
    .card {
        width: 60%;
    }
}

/* スマホ用 */
@media (max-width: 576px) {
    .card {
        width: 70%;
    }
    .thanks__text {
        font-size: 12px;
        margin-bottom: 24px;
    }
}
