body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 100vw;
}

.header{
    width: 100%;
    background:#007BFF;
    color:#ffffff;
    padding:20px;
    margin: 0 auto;
}

.header__inner__title {
    font-size: 30px;
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: white;
}