body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 100vw;
}

.header__container{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__inner{
    display: flex;
}

.header__logo{
    font-size:30px;
    color: #007BFF;
    font-weight: bold;
    padding-left: 10px;
}

.burger-icon {
    width: 40px;
    height: 40px;
    background-color: #007BFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
    margin: auto 0;
}

.burger-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    background: white;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.burger-icon span:nth-child(1) {
    top: 10px;
    width: 14px;
}

.burger-icon span:nth-child(2) {
    top: 18px;
    width: 24px;
}

.burger-icon span:nth-child(3) {
    top: 26px;
    width: 6px;
}



/* ーーーーーメニューが開かれた時のバツ印デザインーーーーー */
.close-icon span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
    width: 24px;
}

.close-icon span:nth-child(2) {
    opacity: 0;
}

.close-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(5.5px, -5px);
    width: 24px;
}

.header__search {
    margin: auto 0;
}


@media (max-width: 768px) {
    .header__container {
        display: flex;
        justify-content: space-between;
        width:90%;
    }
}
