.container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 1%;
    margin-bottom: 24px;
}

.sort__form {
    width: 140px;
    height: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    margin: auto 0;
    background: #ffffff;
}

.sort__select {
    background-color: inherit;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: none;
}

.search__form {
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    margin: auto 0;
}

.search__area__genre {
    background: #ffffff;
}

.search__area,
.search__genre {
    background: #ffffff;
    display: inline-block;
}

.search__area select,
.search__genre select {
    background-color: inherit;
    width: 100px;
    height: 30px;
    border: none;
    border-right: 1px solid #ccc;
    outline: none;
}

.search__keyword {
    display: inline-block;
}

.search__keyword input{
    width: 320px;
    height: 30px;
    border: none;
    outline: none;
}

.card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 98%;
}

.card__image {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
}

.card__image img {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1/0.75; */
    object-fit: cover;
}

.card__content {
    height: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.restaurant__name {
    font-size: 16px;
    margin-top: 0.3rem;
    margin: 0;
    flex: 1;
}

.restaurant__area__genre {
    display: block;
    color: #666;
    font-size: 12px;
    margin: 2px 0;
    flex: 1;
}

.card__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    flex: 2;
}

.details__button {
    background-color: #007BFF;
    border: none;
    color: white;
    height: 80%;
    border-radius: 5px;
    cursor: pointer;
    text-decoration:none;
    width: 40%;
    min-width: 120px;
    text-align:center;
    font-size:14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details__button:hover {
    background-color: #0056b3;
}

.like__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(222, 222, 222);
}

.like__button .fa-heart {
    transition: color 0.1s;
}

.like__button .fa-heart.liked {
    color: #ff0000;
}




/* フォーム崩れ防止 */
@media (max-width: 900px){
    .sort__select {
        background-color: inherit;
        border-radius: 0;
    }

    .search__form {
        display: flex;
        flex-direction: column;
        outline: none;
        width: 45vw;
    }

    .search__area,
    .search__genre {
        display: inline-block;
        width: 45%;
    }

    .search__area select,
    .search__genre select {
        height: 30px;
        width: 100%;
        border: none;
        margin: 0 auto;
        outline: none;
        border-radius: 0;
    }

        .search__keyword input {
        height: 30px;
        width: 100%;
        border: none;
        outline: none;
    }
}




/* タブレット用 */
@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .sort__form {
        width: 100px;
        display: block;
    }

    .sort__select {
        background-color: inherit;
        border-radius: 0;
    }

    .search__form {
        display: flex;
        flex-direction: column;
        outline: none;
        width: 45vw;
    }

    .search__area,
    .search__genre {
        display: inline-block;
        width: 45%;
    }

    .search__keyword {
        display: inline-block;
        width: 45vw;
        border-bottom: 1px solid grey;
        padding-left: 10%;
        padding-right: 10%;
        background: #ffffff;
    }

    .search__area select,
    .search__genre select {
        height: 30px;
        width: 100%;
        border: none;
        margin: 0 auto;
        outline: none;
        border-radius: 0;
    }

    .search__keyword input {
        height: 30px;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 0;
    }

    .search__area__genre {
        width: 45vw;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        background: #ffffff;
        padding-left: 10%;
        padding-right: 10%;
        border-bottom: 1px solid lightgrey;
    }

    .card__content{
        padding:1rem;
    }

    .card__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        flex: 2;
    }

    .details__button {
        height: 80%;
        width: 40%;
        min-width: 100px;
        font-size: 12px;
    }

    .like__button {
        width: 20%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        color: rgb(222, 222, 222);
    }
}




/* スマホ用 */
@media (max-width: 576px) {
    .card__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        flex: 2;
    }

    .card__image {
        width: 100%;
        height: 50%;
        background-size: cover;
        background-position: center;
    }

    .card__image img {
        width: 100%;
        height: 100%;
        /* aspect-ratio: 1/0.75; */
        object-fit: cover;
    }

    .sort__form {
        width: 50px;
        text-align:center;
        /* ここでsort機能デザイン変更 */
        /* border-radius: 10px; */
    }

    .sort__select {
        background-color: inherit;
        border-radius: 0;
        /* ここでsort機能デザイン変更 */
        /* border-radius: 10px; */
    }

    .details__button {
        height: 80%;
        width: 40%;
        min-width: 80px;
        font-size: 12px;
    }

    .like__button {
        font-size: 1.5rem;
        width: 20%;
    }

    .search__area select,
    .search__genre select {
        border-radius: 0;
    }

    .search__keyword input {
        border-radius: 0;
    }
}