.container{
    width: 90%;
    height:80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.heading {
    width: 100%;
    flex: 0 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.space{
    width: 42%;
}

.likes__whose {
    width: 54%;
    font-size: 24px;
    margin:auto 0;
    text-align:left;
}

.content{
    display: flex;
    flex: 2 0 auto;
    justify-content: space-between;
}

.reservation{
    width: 42%;
}

.reservation__title__ttl{
    font-size: 24px;
}

.reservation__content{
    padding:20px;
    height: 280px;
    background: #007BFF;
    margin: auto 0;
    color: #ffffff;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.reservation__items{
    display:flex;
    justify-content:space-between;
    padding: 8px;
}

.reservation__time{

    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation__edit{
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 24px;
    height: 24px;
}

.reservation__time i {
    font-size: 24px;
    color: #ffffff;
    margin: 0 auto;
}

.reservation__number{
    margin: auto 32px 0;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
}

.delete__button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete__button__btn{
    background-color: #007BFF;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    cursor:pointer;
    margin:  auto 0;
}

.delete__button__btn i {
    font-size: 16px;
    margin: auto 0;
}

.reservation__detail{
    display: flex;
    align-items: center;
    height:80%;
}

.reservation__table{
    width: 100%;
}

.reservation__row{
    width:90%;
    display: flex;
}

.reservation__head{
    display: block;
    width: 40%;
    text-align:left;
    padding:8px;
}

.reservation__desc{
    display: block;
    width: 60%;
    padding: 8px;
}

.likes{
    width: 54%;
    height:100%;
    justify-content: center;
    align-items: center;
}

.likes__title__ttl{
    font-size: 24px;
}

.likes__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.likes__card {
    height: 280px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 46%;
    margin: 6px;
    margin:0 auto 20px 0;
}

.likes__card__image{
    width: 100%;
    height: 140px;
    overflow:hidden;
}

.likes__card__image img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/0.75;
    object-fit:cover;
}

.likes__card__content {
    padding:  20px;
}

.likes__restaurant__name {
    font-size: 16px;
    margin: 0;
}

.likes__restaurant__area__genre {
    color: #666;
    font-size: 12px;
    margin:0;
}

.likes__card__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.likes__details__button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width:90px;
    font-size:12px;
    text-align:center;
}

.likes__details__button:hover {
    background-color: #0056b3;
}

.like__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: rgb(222, 222, 222);
}

.like__button .fa-heart {
    transition: color 0.1s;
}

.like__button .fa-heart.liked {
    color: #ff0000;
}


@media (max-width: 768px) {
    .likes__whose{
        width: 50%;
        display:flex;
        flex-direction:column;
    }

    .likes{
        flex-direction: column;
        width: 50%;
    }

    .likes__card {
        width: 100%;
    }

    .likes__details__button {
        background-color: #007BFF;
        border: none;
        color: white;
        padding: 4px 8px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        width: 50%;
        height:40px;
        font-size: 12px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .reservation__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        padding: 0 auto;
    }

    .reservation__number {
        font-size: 10px;
        margin: auto 10px;
    }

    .reservation__row {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 10%;
        font-size: 12px;
    }

    .reservation__head {
        display: block;
        width: 100%;
        text-align: left;
        padding: 0px;
        margin: 0;
    }

    .reservation__desc {
        display: block;
        width: 100%;
        text-align: right;
        padding: 0px;
        margin: 0;
    }
}