.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}

.restaurant__inner{
    width: 47.5%;
    height:80vh;
}

.restaurant__heading{
    display:flex;
}

.back__button{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    margin: auto 0;
    width:24px;
    height:24px;
    background: #ffffff;
    margin-right: 16px;
    border-radius:3px
}

.back__button-back{
    display: block;
    text-align: center;
    text-decoration: none;
    margin: auto 0;
    color: grey;
}

.restaurant__name{
    display: block;
    font-size:24px
}

.restaurant__image{
    width:100%;
}

.restaurant__image img{
    width: 100%;
}

.restaurant__detail{
    display: flex;
}

.restaurant__area{
    margin-right:8px;
    font-size: 12px;
}

.restaurant__genre{
    font-size: 12px;
}

.restaurant__description{
    font-size:12px;
}

.reservation__form {
    width: 47.5%;
    background-color: #007BFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.reservation__inner{
    padding: 20px;
    height: 72vh;
}

.reservation__heading__ttl{
    margin: 0 0 20px 0;
    font-size:20px;
    font-weight:bold;
    color:#ffffff;
}

.reservation__content{
    width: 100%;
}

.form__group{
    margin-bottom:8px;
    width: 90%;
}

.input__date input{
    width: 40%;
    height: 24px;
    border-radius:3px;
    border: none;
}

.input__time select{
    width:100%;
    height: 24px;
    border-radius: 3px;
    border: none;
}

.input__number select{
    width: 100%;
    height:24px;
    border-radius: 3px;
    border: none;
}

.confirm__table{
    width: 90%;
    background-color: #ffffff;
    border-radius: 3px;
    margin:16px 0;
    font-size:12px;
}

.confirm__row{
    display: flex;
    justify-content: left;
    padding: 4px;
}

.confirm__title{
    width:20%;
    display: block;
    text-align:left;
    margin-left:8px;
}

.confirm__detail{
    display: block;
}

.submit__button{
    width:100%;
    border: none;
    color:#ffffff;
    background: rgb(51, 43, 213);
    height:60px;
    height: 8vh;
}


@media (max-width: 768px) {

    .container{
        display:flex;
        flex-direction: column;
    }

    .restaurant__inner {
        width: 100%;
        height: auto;
        margin-bottom:24px;
    }

    .reservation__form{
        width: 100%;
        margin-bottom: 24px;
    }

    .reservation__inner {
        padding: 20px;
        height: auto;
    }

    .reservation__heading__ttl {
        margin: 0 0 20px 0;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
    }

    .reservation__content{
        width: 100%;
        margin:  0 auto;
    }
}