.session__alert{
    width: 100%;
    background: blue;
    color: white
}

.session__alert--success{
    text-align: center;
}

.container{
    width: 90%;
    height: 72vh;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
}

.restaurant{
    flex: 3.8;
    padding:4% 10% 4%;
}

.restaurant__title{
    font-size: 24px;
    text-align:center;
}

.card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 98%;
    height: 72%;
}

.card__image {
    width: 100%;
    height: 56%;
    overflow: hidden;
}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content {
    height: 50%;
    height: auto;
    padding: 6%;
    display: flex;
    flex-direction: column;
}

.restaurant__name {
    font-size: 16px;
    margin-top: 0;
    flex: 1;
}

.restaurant__area__genre {
    display: block;
    color: #666;
    font-size: 12px;
    margin: 2px 0;
    flex: 1;
}

.card__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    flex: 2;
}

.details__button {
    background-color: #007BFF;
    border: none;
    color: white;
    height: 80%;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 40%;
    min-width: 120px;
    max-width:140px;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2% 0 ;
}

.details__button:hover {
    background-color: #0056b3;
}

.like__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(222, 222, 222);
}

.like__button .fa-heart {
    transition: color 0.1s;
}

.like__button .fa-heart.liked {
    color: #ff0000;
}

.center-line{
    width: 2px;
    background-color: lightgrey;
    height: 88%;
    margin: auto 0;
}

.review__form{
    flex: 6.2;
    padding: 4% 8% 4%;
    margin: 0px auto;
    border-radius: 3px;
    overflow: hidden;
}

.form__title {
    background-color: #007BFF;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    padding: 8px;
}

.form__group{
    padding: 12px;
}

.form__group__title{
    font-size: 24px;
    margin: 0px;
    padding: 12px;
}

.form__group__rating{
    display: flex;
    flex-direction:column;
}

.star-rating {
    display: flex;
    padding: 12px;
}

/* ---------- */
.star {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating input {
    display: none;
}

.star-rating input:checked~label,
.star-rating input:checked+label~label {
    color: gold;
}

.form__group__sub {
    font-size: 20px;
    margin: 4px;
}

.form__text {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 16vh;
    outline: none;
}

.form__group__memo {
    font-size: 12px;
    display:block;
    text-align: right;
}

.form__error {
    text-align: center;
    color: red;
}

.drop-area{
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    text-align: center;
    cursor: pointer;
}

.drop-area:hover {
    background-color: lightgrey;
}

.drop-area__text{
    font-size:12px;
    display: block;
}

.submit__button {
    width: 40%;
    display: block;
    margin: 16px auto 16px;
    height:6vh;
    border-radius:24px;
    border: none;
    background: #ffffff;
    padding: 0;
    color: black;
}

.submit__button:hover {
    background: lightgrey;
}


@media (max-width: 950px) {
    .container{
        width: 90%;
        height: 100%;
    }

    .restaurant__title {
        font-size: 20px;
    }

    .form__group__title {
        font-size: 20px;
        margin: 0px;
        padding: 4px;
    }


}
/* タブレット用 */
@media (max-width: 950px) {
    .container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: stretch;
        height: 88%;
    }

    .restaurant {
        flex: 3.8;
        padding: 4% 10% 4%;
        height: 60%;
    }

    .card__actions{
        margin: auto 0;
        padding-bottom: 2%;
    }

    .center-line {
        width: 2px;
        background-color: lightgrey;
        height: 400px;
        margin: auto 0;
    }

    .form__group {
        width: 80%;
        padding: 12px;
    }

    .form__group input{
        width: 100%;
        padding: 12px;
    }

    .review__form {
        width: 90%;
        padding: 2% 10% 2%;
        margin: 0px auto;
        border-radius: 3px;
        overflow: hidden;
        height: 60%;
    }
}



/* タブレット用 */
@media (max-width: 768px){
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;;
    }

    .restaurant {
        width: 100%;
        margin: 0 auto;
        height: 60%;
    }

    .card {
        width: 100%;
        margin: 0 auto;
    }

    .restaurant__title {
        font-size: 24px;
        padding: 4px;
    }

    .form__group__title {
        font-size: 20px;
        padding: 4px;
    }

    .card__content {
        padding: 2% 4% 2%;
    }

    .restaurant__name {
        font-size: 20px;
        margin-bottom: 16px;
        flex: 1;
    }

    .restaurant__area__genre {
        display: block;
        color: #666;
        font-size: 16px;
        margin: 2px 0;
        flex: 1;
    }

    .details__button {
        min-width: 120px;
        font-size: 20px;
        padding:8px;
    }

    .like__button {
        font-size: 2rem;
    }

    .restaurant {
        flex: 4;
        padding: 4% 10% 4%;
        height: 60%;
    }

    .center-line {
        width: 2px;
        background-color: lightgrey;
        height: 50%;
        margin: auto 0;
    }

    .review__form {
        width:100%;
        padding: 2% 10% 2%;
        margin: 0px auto;
        border-radius: 3px;
        overflow: hidden;
        height: 80%;
    }

    .star-rating {
        margin: 0 auto;
    }

    .center-line {
        width: 2px;
        background-color: lightgrey;
        height: 50%;
        margin: auto 0;
    }

    .review__form {
        width: 100%;
        padding: 4% 10% 4%;
        margin: 0px auto;
        border-radius: 3px;
        overflow: hidden;
        height: 60%;
    }

    .form__group__title {
        margin-top: 36px;
        text-align: center;
    }

    .form__group {
        padding: 12px;
        width: 100%;
    }

    .form__group__sub {
        font-size: 20px;
        margin: 4px;
    }

    .form__text {
        margin: 0 ;
        width: 100%;
        height: 16vh;
        padding: 0;
        font-size:18px;
    }

    .drop-area__text {
        font-size: 20px;
    }

    .form__group__memo {
        font-size: 16px;
    }

    .submit__button {
        width: 50%;
        margin: 24px auto 24px;
        height: 6vh;
        border-radius: 50px;
        font-size: 20px;
        line-height: 1.5;
        color: black;
    }
}


/* スマホ用 */
@media (max-width: 576px) {
    .card {
        width: 70%;
    }

    .card__image {
        width: 100%;
        height: 56%;
        overflow: hidden;
    }

    .card__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .star-rating {
        margin: 0 auto;
    }

    .submit__button {
        color: black;
    }
}